* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAF3DD;
    font-family: sans-serif;
}

/* hero section starts */
.hero {
    /* border: 3px solid tomato; */
    background: url(./images/coffee\ latter\ 1Coffee\ latter.png);
    width: 93%;
    margin-left: 7%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.menu {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    /* border: 3px solid yellow; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-weight: 600;
    font-size: 24px;
    margin-left: 7px;
    /* border: 3px solid black; */
    color: #2E1D03;
}

.menu-content ul {
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    list-style: none;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    /* width: 500px; */
    /* height: 200px; */
}

.menu-content ul a {
    /* border: 3px solid tomato; */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    padding: 10px 30px;
    transition: all 0.5s ease;
    color: #817B74;
}

.menu-content ul a:hover {
    color: #2E1D03;
    font-weight: 500;
    font-size: 24px;
    /* width: 72px; */
    /* height: 36px; */
    line-height: 36px;
}

.hero-content {
    /* border: 3px solid green; */
    width: 50%;
    margin-top: 200px;
}

.hero-content h2 {
    color: #817B74;
    font-weight: 600;
    font-size: 100px;
    line-height: 110%;
    margin-bottom: 150px;
    text-shadow: 0px -100px 0px rgba(0, 0, 0, 0.05), 0px 100px 0px rgba(0, 0, 0, 0.02);
}

.hero-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #2E1D03;
}

.hero-button {
    /* border: 3px solid tomato; */
    margin: 50px 0 80px 0;
    padding: 15px 60px;
    cursor: pointer;
    background: #2E1D03;
    color: #fff;
    font-weight: 500;
    border: none;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 20px;
    transition: all 0.7s ease;
    border-radius: 10px;
}

.hero-button i {
    border: 2px solid #FAF3DD;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
}

.hero-button:hover {
    border: 2px solid #2E1D03;
    background: transparent;
    color: #2E1D03;
}

.best {
    /* border: 3px solid black; */
    background: url(./images/coffee\ patter\ 1.png);
    padding: 30px 0;
}

.best-container {
    /* border: 3px solid tomato; */
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
    padding: 25px 50px;
    display: flex;
    backdrop-filter: blur(20px);
    background: #FFFFFD;
}

.best-button {
    background: #2E1D03;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
}

span {
    /* border: 2px solid yellow; */
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    margin-right: 10px;
}

.best-button i {
    border: 2px solid #FAF3DD;
    color: #FFFFFF;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
}

.left-best-container {
    margin-top: 50px;
}

.left-best-container h3 {
    font-weight: 600;
    color: #2E1D03;
    font-size: 36px;
    line-height: 140%;
}

.left-best-container p {
    font-weight: 300;
    margin-bottom: 45px;
    color: #2E1D03;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 24px;
}

.right-best-container {
    /* border: 3px solid tomato; */
    display: flex;
}

.food-card {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
}

.imageholder {
    /* border: 3px solid black; */
    padding: 15px;
    margin-bottom: 10px;
    border-top: 10px;
    overflow: hidden;
}

.priceholder {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
}

.name {
    /* border: 3px solid green; */
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 7px;
    text-align: center;
    color: #2E1D03;
}

.amount {
    /* border: 3px solid tomato; */
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2E1D03;
}

.price-icon {
    /* border: 3px solid #2E1D03; */
    background: #2E1D03;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.price-icon i {
    width: 14px;
    height: 14px;
}

/* hero section ends */

/* About us section starts */

.aboutus-header {
    /* border: 3px solid yellow; */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutus-header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    color: #2E1D03;
}

.topic {
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 15px;
    height: 2px;
    border: 2px solid #2E1D03;
}

.aboutus-header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #2E1D03;
    margin-left: 10px;
    letter-spacing: 0.3em;
}

.aboutus-content {
    /* border: 3px solid tomato; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bean {
    /* border: 3px solid yellow; */
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #817B74;
}

.aboutbean {
    /* border: 3px solid blue; */
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #2E1D03;
}

.about-button {
    padding: 10px 30px;
    gap: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2E1D03;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.about-button p {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

.about-button i {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.aboutus-rightdiv {
    /* border: 3px solid black; */
    background: url(./images/coffee\ bean\ 1bean.png);
    width: 277.51px;
    height: 415px;
}

.aboutus-content2 {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
}

.aboutus-rightdiv2 {
    background: url(./images/coffe\ cup\ saucer\ 1saucer.png);
    width: 492.05px;
    height: 575px;
}

.testimonial {
    /* border: 3px solid green; */
    background: url(./images/coffee\ patter\ 1.png);
    height: 650px;
    padding: 100px 0 0 0;
}

.testimonial-content {
    /* border: 3px solid tomato; */
    width: 90%;
    margin: 0 auto;
}

.testimonial-content h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    color: #2E1D03;
}

.comment {
    /* border: 3px solid blue; */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
    backdrop-filter: blur(20px);
    overflow: hidden;
    border-radius: 15px;
    position: absolute;
    /* width: 701.4px; */
    /* height: 215.23px; */
    left: 95.13px;
    top: 2730px;
    padding: 30px;
}

.comment2 {
    position: absolute;
    /* width: 623.99px; */
    /* height: 215.23px; */
    left: 660px;
    top: 2600px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 30px;
}

.comment3 {
    position: absolute;
    padding: 30px;
    /* width: 701.4px; */
    /* height: 156.32px; */
    left: 554.81px;
    top: 2900.36px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

.comment-head {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.log {
    /* border: 3px solid black; */
    display: flex;
}

.comma {
    /* border: 3px solid green; */
    /* width: 50%; */
    height: 20px;
    display: flex;
    color: #2E1D03;
    justify-content: flex-end;
    font-size: 50px;
    font-weight: 500;
}

.pics {
    /* border: 3px solid black; */
    border-radius: 50px;
    background: url(./images/IMG_0813\ \(1\).JPG);
    background-position: top;
    background-size: cover;
    width: 48.1px;
    height: 48.1px;
}

.commentator {
    /* border: 3px solid tomato; */
    margin-left: 10px;
}

.commentator h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #03011C;
}

.commentator p {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #03011C;
}

.commentator-message {
    /* border: 3px solid brown; */
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #03011C;
}

/* About us section ends */

/* Scooter section starts */

.scooter-header {
    padding: 40px 0;
}

.scooter-header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    color: #2E1D03;
    text-align: center;
}

.scooter-topic {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.scooter-topic p {
    /* border: 3px solid black; */
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.3em;
    color: #2E1D03;
    margin-left: 10px;
}

.blog-content {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 95%;
    margin: 0 auto 50px auto;
}

.blog-card {
    /* border: 3px solid tomato; */
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transition: all 0.7s ease;
}

.blog-card:hover {
    background: #FFFFFF;
}

.blog-pics {
    /* border: 3px solid green; */
    background: #FFFFFF;
    width: 326.54px;
    height: 200px;
    overflow: hidden;
}

.blog-writeup {
    /* border: 3px solid navy; */
    margin: 15px 0 0 0;
}

.blog-writeup h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #2E1D03;
}

.blog-writeup p {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #2E1D03;
}

.blog-button {
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    background: transparent;
    color: #2E1D03;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #2E1D03;
    transition: all 0.7s ease;
}

.blog-button:hover {
    background: #2E1D03;
    color: #FAF3DD;
}

.blog-button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    /* color: #2E1D03; */
    margin-right: 10px;
}

.blog-button i {
    width: 25px;
    height: 25px;
    border: 2px solid #2E1D03;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

/* Scooter section ends */

/* Quick section starts */
.QuickTour {
    /* border: 3px solid black; */
    background: url(./images/coffee\ patter\ 1.png);
}

.quicktour-content {
    /* border: 3px solid tomato; */
    /* height: 400px; */
    width: 90%;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.left-content {
    /* border: 3px solid green; */
    width: 45%;
    padding: 100px;

}

.content {
    /* border: 3px solid yellow; */
    display: flex;
    margin-top: 35px;
    justify-content: space-between;

}

.list {
    /* border: 3px solid navy; */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.list h4 {
    color: #2E1D03;
    font-weight: 550;
    font-size: 22px;
    line-height: 36px;
    /* text-align: center; */
    margin-bottom: 10px;
}

.list span {
    color: #2E1D03;
    margin: 7px 0;

}

.right-content {
    /* border: 3px solid blue; */
    text-align: right;
    padding: 100px;
}

.right-content h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #2E1D03;
}

.right-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #2E1D03;
    margin: 60px 0;
}

.quicktour-content button {
    background: #2E1D03;
    color: #FAF3DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px 40px;
    gap: 10px;
    width: 183px;
    height: 62px;
    border: none;
}

.quicktour-content button i {
    border: 2px solid #FAF3DD;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quicktour-content button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FAF3DD;
}

.footer {
    /* border: 3px solid yellow; */
    width: 100%;
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
}